
<div class="row actions-bar">
  <div class="col-md-6 offset-md-1">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="autocomplete.input" (keyup)="updateSearchResults($event)" placeholder="Search...">
      <div class="input-group-append">
        <span class="input-group-text"> <i class="icon ion-md-search"></i></span>
      </div>
    </div>
    <div class="input-group">
      <ul class="list-group" [hidden]="autocompleteItems.length == 0">
        <a class="list-group-item search-item" *ngFor="let item of autocompleteItems" (click)="selectSearchResult(item)">
          {{ item.description }}
        </a>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <button type="button" (click)="tryGeolocation()" class="btn btn-outline-secondary">
      <i class="icon ion-md-pin"></i>  Try Geolocation
    </button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-log-12">
    <div class="map-container">
      <mat-progress-spinner
        [hidden]="!loading"
        class="spinner"
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
      <div [hidden]="loading" id='map'></div>
    </div>
  </div>
</div>
