#map {
		height: 92%;
    width:97%;
    position: absolute;
	}

.actions-bar {
	margin-top: 30px;
}

.map-container {
	min-height: 500px;
	display: flex;
  align-items: center;
	justify-content: center;
}

[hidden] {
  display: none;
}

.list-group{
	position: absolute;
	z-index: 2;
	width: 100%;
}

.search-item:hover {
	background-color: #ddd;
}
